.st0 {
    fill: none;
    stroke: #2ECC71;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #2ECC71;
}

.st2 {
    fill: #232323;
}

.st3 {
    fill: #42E53E;
    stroke: #D1D1D1;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #45A340;
    stroke: #D1D1D1;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #494949;
    stroke: #D1D1D1;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #E2CF40;
}

.st7 {
    fill: #E74C3C;
    stroke: #D1D1D1;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st8 {
    cursor: pointer;
    fill: #2ECC71;
    stroke: #D1D1D1;
    stroke-width: 3;
    stroke-miterlimit: 10;
}